#header {
    text-align:center;
    color:red;
}

div.one {
    border-left: 12px solid red;
    display: block;
                }


div.border {
    border: 2px solid; 
    border-radius: 25px; 
    padding: 10px; 
    margin: 2px; 
    border-color: #fc0505;
}

