<html><body>

<h1>{{hallmark.name}}</h1>

{% with messages = get_flashed_messages()%}
{% if messages %}

<ul>
    {% for message in messages %}
        <li><strong>{{message}}</strong></li>
    {% endfor %}
</ul>
    {% endif %}
{% endwith %}

<a href = "{{url_for('newDetail', hallmark_id = hallmark.id)}}">Create New Detail</a></br>


{% for detail in details %}
<p>{{detail.name}}</p>
<p>{{detail.description}}</p>
<p>
        <a href = #>Delete</a>
        <a href = #>Edit</a>
</p>
{% endfor %}


<p><a href = "{{url_for('agingHallmarks')}}"> Back to Home Page</a></p>

</body>
</html>