<html>
<body>

<h1>Edit Hallmark</h1>

<form action = "{{url_for('editHallmark', hallmark_id = hallmark.id)}}" method = 'post'>
<p> Edit the name:</p>
    <input type = 'text' size = '50' name = 'name' 
                placeholder = '{{hallmark.name}}'>
<p>Edit summary:</p>
    <textarea type='text' rows='5' cols='50' name='summary' placeholder = '{{hallmark.summary}}'></textarea>

<p>Edit treatment:</p>
    <textarea type='text' rows='3' cols='50' name='treatment' placehold = '{{hallmark.treatment}}'></textarea>

<p><input type = 'submit' value = 'Submit changes'></p>

</form>
<a href = "{{url_for('agingHallmarks')}}"> Cancel </a>


</body>
</html>