<html><body>


<h1>Glossary</h1>

<h3>genome</h3>
    <p>
    the entire genetic material of the organism: the entire sequence of genes composing
    the DNA both inside the nucleus of every cell and 
    in the mitochondria
    </p>
<h3>alleles</h3>


<h3>phosphines</h3>

<h3>phosphonic acid</h3>


<h3>phosphonate</h3>

    <p>

    </p>

<h3>aminobisphosphonates</h3>

<p>

</p>

<h3>histones</h3>

<h3>homology</h3>

<h3>transcription</h3>

<h3>translation</h3>


</body></html>